<nav-jefe></nav-jefe>
<div class="container">
  <h2>USUARIOS</h2>
  <div class="d-flex p-5" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar" [(ngModel)]="dni">
    <button class="btn btn-outline-success" type="submit" (click)="searchUserDni(dni)">SEARCH</button>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">DNI</th>
        <th scope="col">CATEGORY</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let user of arrModUser" [routerLink]="['/jefe','user','modify',user.id]">
        <td>{{user.id}}</td>
        <td>{{user.name}}{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.adress}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.category}}</td>
      </tr>
    </tbody>
  </table>
</div>
