h2 {
  text-align: center;
}

.overflow-scroll {
  overflow: scroll;
  height: 600px;
}

.table {
  overflow: scroll;
  position: relative;
}

.table th {
  position: sticky;
  background-color: white;
  top: 0;
}

.table tbody tr {
  cursor: pointer;
}