h2 {
    text-align: center;
}

.col-6 {
    display: grid;
    place-content: center;

}

button {
    background-color: rgb(6, 78, 75);
    color: white;
    width: 6em;
}

.error {
    font-size: 14px;
    color: lightcoral;
}

input.ng-valid.ng-touched {
    border: 2px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 2px solid lightcoral;
}