.table {
    position: absolute;
    top: 150px;
    left: 280px;
    background-color: white;
    width: 70%;
    height: 50%;
    border-collapse: separate;
    border-spacing: 50px 50px;
    float: top;
    overflow: scroll;

}

h2 {
    color: white;
    position: absolute;
    top: 40px;
    left: 630px;
}

.fecha {
    color: white;
    position: absolute;
    top: 115px;
    left: 880px;
}