.table {
    position: absolute;
    top: 150px;
    left: 280px;
    background-color: white;
    width: 70%;
    height: 50%;
    float: top;
    overflow: scroll;
}

.nombre.fecha {
    color: rgb(6, 78, 75);
}