<nav-operario></nav-operario>
<div class="container">
  <h2>ORDERS</h2>
  <div class="d-flex p-5" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar" [(ngModel)]="word">
    <button class="btn btn-outline-success" type="submit" (click)="searchName(word)">SEARCH</button>

  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ADDRESSEE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">DESTINATION ADDRESS</th>
        <th scope="col">DEPARTURE DATE</th>
        <th scope="col">TRUCK PLATE</th>
        <th scope="col">CATEGORY</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let order of arrModOrder" [routerLink]="['/operario','order','modify', order.id]">
        <td>{{order.id}}</td>
        <td>{{order.addressee}}</td>
        <td>{{order.description}}</td>
        <td>{{order.destination_address}}</td>
        <td>{{order.departure_date | date: 'shortDate'}}</td>
        <td>{{order.truck_plate}}</td>
        <td>{{order.category}}</td>
      </tr>
    </tbody>
  </table>
</div>