* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: rgb(6, 78, 75);
    color: white;
}


#toggler {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#toggler span {
    display: block;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
}


.activo {
    background-color: rgb(5, 177, 177);
}

.inactivo {
    background-color: white;

}


#sidebar h4 {
    text-align: center;
}


#links {
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: left;

}

#links a {
    margin-bottom: 40px;
    transition: .7s;
}

#links a:hover {
    padding-left: 20px;
    background-color: rgb(5, 177, 177);
}


#button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5%;
    position: absolute;
    bottom: 20px;
}

@media (max-width: 768px) {
    #sidebar {
        width: 0;
    }

    #toggler {
        display: block;
    }
}