<nav id="sidebar" [ngStyle]="{ width: sidebarWidth, transition: '0.4s'  , lineHeight: '0'}">
    <div id="toggler" (click)="toggleSidebar()">
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
    </div>
    <h4 id="titulo">{{nombreEncargado}}</h4>
    <div id="links">
        <a (click)="redireccionar('/encargado/overview')">Pedidos hoy</a>
        <a (click)="redireccionar('/encargado/entrada')">Entrada</a>
        <a (click)="redireccionar('/encargado/salida')">Salida</a>
        <a (click)="redireccionar('/encargado/supervisados')">Supervisados</a>
    </div>
    <button class=" btn btn-danger" id="button">Logout</button>
</nav>