<nav-jefe></nav-jefe>
<div class="container">
  <h2>ALMACENES</h2>
  <div class="overflow-scroll">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">DIRECCIÓN</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let warehouse of arrWarehouses">
          <td>{{warehouse.id}}</td>
          <td>{{warehouse.name}}</td>
          <td>{{warehouse.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
