<nav id="sidebar" [ngStyle]="{ width: sidebarWidth, transition: '0.6s' }">

    <button id="toggler" (click)="toggleSidebar()">
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
        <span [ngClass]="{ 'activo' : activo, 'inactivo' : inactivo }">
        </span>
    </button>

    <h4>Menú</h4>

    <div id="links">
        <a>Pedidos hoy</a>
        <a>Entrada</a>
        <a>Salida</a>
        <a>Supervisados</a>
    </div>



    <button class=" btn btn-danger" id="button">Logout</button>
</nav>