<div class="container">
    <div class="table">
        <table>
            <tr>
                <th>Id</th>
                <th>Warehouse Id</th>
                <th>Status</th>
                <th>Addressee</th>
                <th>Description</th>
                <th>Nª Items</th>
                <th>Destination Address</th>
                <th>Creation Date</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Truck Plate</th>
                <th>Category</th>
            </tr>
            <tr *ngFor="let order of arrOrders">
                <td>{{order.id}}</td>
                <td>{{order.warehouse_id}}</td>
                <td>{{order.status}}</td>
                <td>{{order.addressee}}</td>
                <td>{{order.description}}</td>
                <td>{{order.n_items}}</td>
                <td>{{order.destination_address}}</td>
                <td>{{order.creation_date | date: 'shortDate'}}</td>
                <td>{{order.departure_date | date: 'shortDate'}}</td>
                <td>{{order.arrival_date | date: 'shortDate'}}</td>
                <td>{{order.truck_plate}}</td>
                <td>{{order.category}}</td>
            </tr>

        </table>

    </div>
</div>