<nav-roles></nav-roles>
<div class="container">
  <h2>MODIFICAR PEDIDO <span>{{nId}}</span></h2>
  <div class="col-auto">
    <form [formGroup]="modifyOrder" class="row y justify-content-center " (ngSubmit)="onSubmit()">
      <div class="col-7">
        <label class="form-label">DESTINATARIO</label>
        <input type="text" class="form-control" formControlName="addressee">
      </div>
      <div class="col-7">
        <label class="form-label">DESCRIPCIÓN</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="col-7">
        <label class="form-label">Nº DE BULTOS</label>
        <input type="text" class="form-control" formControlName="n_items">

      </div>
      <div class="col-7">
        <label class="form-label">DIRECCIÓN DE DESTINO</label>
        <input type="text" class="form-control" formControlName="destination_address">
      </div>
      <div class="col-7">
        <label class="form-label">MATRÍCULA DE CAMIÓN</label>
        <input type="text" class="form-control" formControlName="truck_plate">
      </div>
      <div class="col-7">
        <label class="form-label">FECHA DE SALIDA</label>
        <input type="date" class="form-control" formControlName="departure_date">
      </div>
      <div class="col-7">
        <label class="form-label">FECHA DE LLEGADA</label>
        <input type="date" class="form-control" formControlName="arrival_date">
      </div>

      <div class="col-6">
        <button class="btn btn-danger m-3" (click)="deleteClick()">Eliminar</button>
      </div>
      <div class="col-6">
        <input type="submit" value="Enviar" [disabled]="!modifyOrder.valid" class="btn btn-info m-3" [ngClass]="{
                'btn-danger': !modifyOrder.valid}">
      </div>
    </form>
  </div>
</div>