<div class="container">
    <h2>User Modify</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">DNI</label>
            <input type="text" class="form-control" formControlName="dni">
        </div>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">

        </div>

        <div class="mb-3">

            <label class="form-label">Categoría</label>
            <select class="form-select" formControlName="categoria">
                <option selected hidden></option>

                <option value="operario">operario</option>
                <option value="encargado">encargado</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div>
            <button class="btn btn-danger m-3">Delete</button>

            <input type="submit" value="Send" [disabled]="!formulario.valid" class="btn btn-info m-3" [ngClass]="{
            'btn-danger': !formulario.valid
        }">
        </div>
    </form>
</div>