.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    font-size: 14px;
    color: lightcoral;
}

input.ng-valid.ng-touched {
    border: 2px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 2px solid lightcoral;
}